<!--<div class="flex-container_title">
    <div class="flex-item panelTitle">
        Visualizations
    </div>UNDONE:Meter aqui directive angular oq isto repete-se sempre
    <div class="flex-item glyphicon glyphicon-remove"></div>
</div>-->

Color = <input type="color" ng-model="grap.options.chart.color[0]"/><br>

<nvd3 id="graph1" options='grap.options' data='grap.data'></nvd3>
  <!-- <canvas id="line" class="chart chart-line" chart-data="grap.data"
  chart-labels="grap.labels" chart-series="grap.series" chart-options="grap.options"
  chart-dataset-override="grap.datasetOverride" chart-click="grap.onClick"></canvas>
  <canvas id="line" class="chart chart-line" chart-data="grap.data"
  chart-labels="grap.labels" chart-series="grap.series" chart-options="grap.options"
  chart-dataset-override="grap.datasetOverride" chart-click="grap.onClick"></canvas>
  <canvas id="line" class="chart chart-line" chart-data="grap.data"
  chart-labels="grap.labels" chart-series="grap.series" chart-options="grap.options"
  chart-dataset-override="grap.datasetOverride" chart-click="grap.onClick"></canvas>
  <linechart data="data3" options="grap.option2"></linechart> -->
